* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f6cf65, #f38c70);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-content: center;
}


input, 
button {
    font-size: 2rem;
    border: none;
    background: white;
    max-height: 3rem;
}



button {
    color: #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.2s ease;
    max-height: 3rem;
    width: 3rem;
}

button:hover {
    background: #fda085;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.to-dos {
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    width: 410px;
    height: 30px;
    margin: 10px;
}

.p-style {
    font-size: 1.5rem;
    background: white;
    color: black;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
   
    cursor: pointer;
}